/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


@font-face {
  font-family: PeckhamPress-Trial;
  src: url(../public/Fonts/PECKHAMPRESS-TRIAL.OTF)
}
.pecham {
  font-family: PeckhamPress-Trial;
  font-weight: 100; /* Bold */
  word-spacing: 0.17em;
  letter-spacing: 0.1rem;
  line-height: 1;
}

@font-face {
  font-family: SpaceMono-Regular;
  src: url(../public/Fonts/SpaceMono-Regular.ttf)
}
.space {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SpaceGrotesk;
  src: url(../Fonts/SpaceGrotesk.ttf)
}
  
.space-grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 100; /* Bold */
  word-spacing: 0.17em;
  letter-spacing: 0.1rem;
  line-height: 1;
}

@font-face {
  font-family: MONUMENTEXTENDED-REGULAR;
  src: url(../public/Fonts/MONUMENTEXTENDED-ULTRABOLD.OTF)
}
  
.monument {
  font-family: MONUMENTEXTENDED-REGULAR;
  font-weight: 200; /* Bold */
  word-spacing: 0.17em;
  letter-spacing: 0.1rem;
  line-height: 1;
}